@using Runtasker.Logic.Entities
@using Runtasker.ExtensionsUI.UIExtensions.Alerts
@using Runtasker.Resources.Views.Shared.NewLoginPartial
@using HtmlExtensions.StaticRenderers
@using Extensions.Decimal
@using Microsoft.AspNet.Identity;
@using Microsoft.AspNet.Identity.Owin;
@using Runtasker.Logic
@model Notification
@{
    Layout = null;
    
}
@if (Model != null)
{
    if (Model.AboutType == NotificationAboutType.Balance)
    {

        { Html.RenderAction("ReSignIn", "Account"); }

        using (MyDbContext db = new MyDbContext())
        {
            string id = User.Identity.GetUserId();
            string balance = db.Users.FirstOrDefault(x => x.Id == id).Balance.ToMoney();
            string newBalance = string.Format(NewLoginPartial.YourBalancePattern, balance, HtmlSigns.Rouble);

            @JSHelper.SetInnerHtmlToId("balance", newBalance)
        }

    }
<div class="row">
    <div class="col-md-12">
        @MvcHtmlString.Create(AlertBuilder.BuildAlertFromNotification(Model))
    </div>
</div>
}
