@using Extensions.Enumerations
@using Runtasker.Statics.Views
@using Runtasker.Logic.Entities
@model List<Order>
@{
    Layout = ViewPaths.NewAdminLayoutPath;
    ViewBag.Title = "Корзина заказов";
}

<h2>Корзина заказов</h2>

<hr class="half-margins"/>

@foreach(Order order in Model)
{


    <div class="row">
        <div class="col-md-6">
            <div class="row">Тип работы: @order.WorkType.ToDisplayName()</div>
            <div class="row">Статус до удаления: @order.LastStatus.ToDisplayName()</div>
            <div class="row">
                [@order.Status.ToDisplayName()]
            </div>
            <div class="row">Дата публикации: @order.PublishDate.ToShortDateString()</div>
            <div class="row">Дата завершения: @order.FinishDate.ToShortDateString()</div>
            


            @if(order.FinishDate < DateTime.Now)
            {
                <label class="label label-danger">Заказ уже просрочен</label>
            }
            else
            {
                <label class="label label-success">Заказ пока не просрочен</label>
            }
        </div>
        <div class="col-md-6">
            <a href="/Performer/RestoreOrder/@order.Id" class="btn btn-default">[Восстановить заказ №@order.Id]</a>
        </div>
    </div>

    <hr class="half-margins"/>
    
}

