@using Extensions.Enumerations

@using Runtasker.Logic.Entities
@model List<Order>
@{
    ViewBag.Title = "Trash";
}

<h2>Корзина заказов</h2>

@foreach(Order order in Model)
{
    <div class="row">
        <div class="col-md-6">
            Тип работы: @order.WorkType
            Статус до удаления: @order.LastStatus.ToDisplayName()
            Дата публикации: @order.PublishDate.ToShortDateString()
            Дата завершения: @order.FinishDate.ToShortDateString()
            @if(order.FinishDate < DateTime.Now)
            {
                <label class="label label-danger">Заказ уже просрочен</label>
            }
            else
            {
                <label class="label label-success">Заказ пока не просрочен</label>
            }
        </div>
        <div class="col-md-6">
            <a href="/Performer/RestoreOrder/@order.Id">[Восстановить заказ №@order.Id]</a>
        </div>
    </div>
    
}

