@using HtmlExtensions.Renderers
@using Runtasker.Resources.Views.Account.ConfirmEmail;
@{
    GlyphiconRenderer GISigns = new GlyphiconRenderer();
    ViewBag.Title = ConfirmEmail.Title;
    MvcHtmlString loginBtnHtmlText = MvcHtmlString.Create($"{GISigns.Login} {ConfirmEmail.LoginBtnText}");
}

<h2>@ViewBag.Title.</h2>
<div>
    <h3>
        @ConfirmEmail.Thanks
    </h3>
    <h3>
        @ConfirmEmail.Please, 
        <a id="loginLink" class="btn btn-success btn-lg" href="@Url.Action("Login", "Account", routeValues: null)">
            @loginBtnHtmlText
        </a>
    </h3> 
</div>
