@using HtmlExtensions.Renderers
@using Runtasker.LocaleBuilders.Models
@using Extensions.String
@{
    GlyphiconRenderer GISigns = new GlyphiconRenderer();

    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
    ViewBag.Title = localeModel["Title"];
}

<h2>@ViewBag.Title</h2>
<div>
    <h3>
        @localeModel["Thanks"]
    </h3>

    <h3>
        @localeModel["ClickToLoginLink"].ToHtml()
    </h3> 
</div>
