@using Runtasker.LocaleBuilders.Models
@{
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
    ViewBag.Title = localeModel["Title"];
}

<hgroup class="title">
    <h1>@ViewBag.Title</h1>
</hgroup>
<div>
    <p>
        @localeModel["ConfirmationText"] @Html.ActionLink(localeModel["BtnText"], "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
    </p>
</div>
