@using Runtasker.Logic.Entities
@model ApplicationUser
@{
    ViewBag.Title = "EditUser";
}

<h2>EditUser</h2>

<div class="table-responsive">
    <table>
        <thead>
            <tr>
                <td>
                    @Model.Email
                </td>
                <td>
                    @Model.EmailConfirmed
                </td>
            </tr>
        </thead>
    </table>
</div>