
@{
    ViewBag.Title = "Администраторская";
    Layout = Runtasker.Statics.Views.ViewPaths.NewAdminLayoutPath;
}

<h2>Админ панель</h2>

<a href="@Url.Action("Users", "Administration")">Пользователи сайта</a>
<p></p>

<a href="@Url.Action("Customers", "Administration")">Заказчики сайта</a>
<p></p>

<a href="@Url.Action("Performers", "Administration")">Исполнители сайта</a>
<p></p>

<a href="@Url.Action("CreateUser", "Administration")">Создать пользователя</a>