
@{
    ViewBag.Title = "Failed";
}

<h2>Что-то пошло не так!</h2>

<h4> К сожалению, мы не смогли обработать ваш платеж!</h4>

<a href="/Payment/YandexKassa">
    Попробовать еще раз
</a>

<a href="/Home/Index">
    Вернуться в главное меню
</a>