
@{
    ViewBag.Title = "YandexPlatezhka";
}

<h2>YandexPlatezhka</h2>

<div class="row">
    <iframe class="iframe" src="https://money.yandex.ru/fastpay/form/1cc5cec09cc8445a82d775d069446587" width="500" height="306" style="border: 1px solid #e8e8e8;"></iframe>
</div>