@{
    
    Layout = null;
}

<section class="container margin-top100">

    <!-- SERVICE 1 -->
    <div class="row margin-top30">

        <!-- SERVICE 1 -->
        <div class="col-md-2 text-center">
            <a href="/Orders/Create/">
                <img class="fa" src="~/assets/images/MyIcons/Onl-pomosch.png" width="80" height="80" />
            </a>
        </div>

        <div class="col-md-10">
            <h3>HTML5 &amp; CSS3 Development</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
        </div>

    </div>

    <div class="divider half-margins">
        <!-- divider -->
        <i class="fa fa-graduation-cap"></i>
    </div>

    <!-- SERVICE 2 -->
    <div class="row margin-top30">

        <div class="col-md-2 text-center">
            <i class="nomargin featured-icon fa fa-female"></i>
        </div>

        <div class="col-md-10">
            <h3>Photography</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
        </div>

    </div>

    <div class="divider half-margins">
        <!-- divider -->
        <i class="fa fa-graduation-cap"></i>
    </div>

    <!-- SERVICE 3 -->
    <div class="row margin-top30">

        <div class="col-md-2 text-center">
            <i class="nomargin featured-icon fa fa-cogs"></i>
        </div>

        <div class="col-md-10">
            <h3>Marketing</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
        </div>

    </div>

    <div class="divider half-margins">
        <!-- divider -->
        <i class="fa fa-graduation-cap"></i>
    </div>

    <!-- SERVICE 4 -->
    <div class="row margin-top30">

        <div class="col-md-2 text-center">
            <i class="nomargin featured-icon fa fa-users"></i>
        </div>

        <div class="col-md-10">
            <h3>Project Consulting</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.</p>
        </div>

    </div>

</section>