@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewLayout.cshtml";
}

<h2>Для разработчика</h2>

<p><a href="@Url.Action("Logs", "Dev")">Посмотреть логи</a></p>

<p><a href="@Url.Action("Db", "Dev")">Посмотреть базу данных</a></p>

<p><a href="@Url.Action("Reset", "Dev")">Очистить таблицы из базы данных</a></p>

<p><a href="@Url.Action("CreateUser", "Dev")">Добавить пользователя</a></p>

