
@{
    Layout = null;
}

<section id="about" class="padding100">
    <div class="container">

        <h1 class="text-center">Добро пожаловать на <strong>Runtasker</strong></h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>

        
        <p class="lead h2">
            <strong>
                Runtasker – это мультиязычное веб-приложение, мы постоянно стремимся к добавлению новых языков. Нам важно, что бы наши заказчики при взаимодействии с нами чувствовали себя максимально комфортно. А что может быть более удочным, чем общение на родном языке?
            </strong>
        </p>

        <hr />

        <!-- BORN TO BE A WINNER -->
        <article class="row">
            <div class="col-md-6">
                <div class="owl-carousel controlls-over" data-plugin-options='{"items": 1, "singleItem": true, "navigation": true, "pagination": true, "transitionStyle":"fadeUp"}'>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/about_1.jpg" width="555" height="311" alt="">
                    </div>
                    <div>
                        <iframe src="http://player.vimeo.com/video/25076865" width="800" height="450"></iframe>
                    </div>
                    <div>
                        <img class="img-responsive" src="~/assets/images/demo/about_2.jpg" width="555" height="311" alt="">
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <h3>Runtasker : создан чтобы помогать</h3>
                <p>
                    Наверняка вы задумывались, что куча времени уходит на выполнение рутинных заданий, однотипных рефератов и прочих работ которые нужны только для «галочки»? МЫ ТОЖЕ! В Runtasker считают это недопустимой тратой времени! Поэтому всю вашу рутину мы берём на себя. НО! Как же курсовые и дипломные – это громоздкие, нудные проекты, от которых часто хочется спать? ЭТО МЫ ТОЖЕ БЕРЁМ НА СЕБЯ! Вам больше не надо тратить на это время!  Всё что вам нужно - это написать нам тему и описать ваши пожелания, и мы сделаем всё за вас! Runtasker - ваше время важно для нас!
                </p>
                <p>Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt.</p>
                <p>Neque porro quisquam est, qui dolorem ipsum quia dolor sit amet, consectetur, adipisci velit, sed quia non numquam eius modi tempora incidunt ut labore dolore magnm aliquam quaerat voluptatem.</p>
            </div>

        </article>
        <!-- /BORN TO BE A WINNER -->

        <!-- WHO WE ARE and SKILLS -->
        <article class="row margin-top60">
            <div class="col-md-6">
                <h3>
                    Почему лучше заказывать на <strong>Runtasker?</strong>
                </h3>

                <div class="toogle">

                    <div class="toggle">
                        <label>Качество работ</label>
                        <div class="toggle-content">
                            <p>
                                Качество работ - компания Runtasker выполняет работы высочайшего качества. Обеспечивается это за счёт того, что над вашими заданиями трудятся настоящие профессионалы своего дела, серьезно относящиеся к своим обязанностям.
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Строгие сроки выполнения</label>
                        <div class="toggle-content">
                            <p>
                                Строгие сроки выполнения– компания Runtasker, проект, который и вовремя выполняет взятые на себя обязательства. Для нас важна наша репутация.
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Правки и доработки</label>
                        <div class="toggle-content">
                            <p>
                                Правки и доработки – Runtasker заботиться о своих клиентах, поэтому сопровождение ваших работ осуществляются бесплатно во время ее выполнения.
                            </p>
                        </div>
                    </div>

                    <div class="toggle">
                        <label>Техническая поддержка</label>
                        <div class="toggle-content">
                            <p>
                                Техподдержка – копания Runtasker, думает о вас и вашем времени, поэтому, наша техподдержка, всегда готова вам помочь.
                            </p>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-md-6">
                <h3>Runtasker в процентах</h3>

                <div class="progress-bars">

                    <div class="progress-label">
                        <span>Довольные клиенты</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="100%">
                            <span class="progress-bar-tooltip">100%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Design</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="86%" data-appear-animation-delay="300">
                            <span class="progress-bar-tooltip">86%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>Mysql</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="69%" data-appear-animation-delay="600">
                            <span class="progress-bar-tooltip">69%</span>
                        </div>
                    </div>
                    <div class="progress-label">
                        <span>PHP</span>
                    </div>
                    <div class="progress">
                        <div class="progress-bar progress-bar-primary" data-appear-progress-animation="96%" data-appear-animation-delay="900">
                            <span class="progress-bar-tooltip">96%</span>
                        </div>
                    </div>

                </div>

            </div>
        </article>
        <!-- /WHO WE ARE and SKILLS -->

    </div>
</section>