
@{
    Layout = null;
}

<section class="paddings styleBackground">
    <!-- add class: styleBackground -->
    <div class="container">
        <div class="row text-center countTo">
            <div class="col-md-3">
                <strong data-to="3200">0</strong>
                <label>Happy Clients</label>
            </div>
            <div class="col-md-3">
                <strong data-to="12">0</strong>
                <label>Years in Business</label>
            </div>
            <div class="col-md-3">
                <strong data-to="445">0</strong>
                <label>Cups of Coffee</label>
            </div>
            <div class="col-md-3">
                <strong data-to="678">0</strong>
                <label>High Score</label>
            </div>
        </div>
    </div>
</section>