
@{
    Layout = null;
}

<section class="paddings styleBackground">
    <!-- add class: styleBackground -->
    <div class="container">
        <div class="row text-center countTo">
            
            <div class="col-md-3">
                <strong data-to="3">0</strong>
                <label>Года работы</label>
            </div>

            <div class="col-md-3">
                <strong data-to="79">0</strong>
                <label>Исполнителей</label>
            </div>

            <div class="col-md-3">
                <strong data-to="3472">0</strong>
                <label>Выполненных заказа</label>
            </div>

            
            <div class="col-md-3">
                <strong data-to="758">0</strong>
                <label>Довольных клиентов</label>
            </div>
        </div>
    </div>
</section>