@using Runtasker.LocaleBuilders.Models
@{
    Layout = null;
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
}

<section class="paddings styleBackground">
    <!-- add class: styleBackground -->
    <div class="container">
        <div class="row text-center countTo">
            
            <div class="col-md-4">
                <strong data-to="3">0</strong>
                <label>@localeModel["YearsInBusiness"]</label>
            </div>

            <div class="col-md-4">
                <strong data-to="239">0</strong>
                <label>@localeModel["Performers"]</label>
            </div>

            <div class="col-md-4">
                <strong data-to="5474">0</strong>
                <label>@localeModel["ExecutedWorks"]</label>
            </div>
     
            @*<div class="col-md-3">
                <strong data-to="758">0</strong>
                <label>@localeModel["HappyClients"]</label>
            </div>*@

        </div>
    </div>
</section>