
@{
    Layout = null;
}

<section class="parallax delayed" data-stellar-background-ratio="false" style="background-image: url('/File/GetFileFromAssets?path=images/demo/RuntaskerParallax/girl-library-books.jpg');">

    <span class="overlay"></span>

    <div class="container">

        <div class="row">
            <!-- left content -->
            <div class="col-md-7 animation_fade_in">
                <h2>Atropos <strong>Features</strong></h2>
                <p class="lead">
                    Atropos is a multipurpose template for business or portfolio website. It is fully responsive design ready to look stunning on PC, Tablet and Mobile.
                </p>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas metus nulla, commodo a sodales sed, dignissim pretium nunc. Nam et lacus neque. Ut enim massa, sodales tempor convallis et, iaculis ac massa.
                </p>

                <a class="btn btn-primary btn-lg" href="shortcodes-rows.html">View Shortcodes</a>
            </div>

            <!-- right image -->
            <div class="col-md-5 animation_fade_in">
                <img class="visible-md visible-lg img-responsive pull-right" src="~/assets/images/RuntaskerParallax/girl-library-books.jpg">
            </div>
        </div>
    </div>
</section>