
@{
    Layout = null;
}


<section id="portfolio" class="special-row padding100">

    <h1 class="text-center">Примеры выполненных работ на <strong>Runtasker</strong></h1>
    <div class="divider">
        <!-- divider -->
        <i class="fa fa-star"></i>
    </div>

    <ul class="nav nav-pills isotope-filter isotope-filter" data-sort-id="isotope-list" data-option-key="filter">
        <li data-option-value="*" class="active"><a href="#">Show All</a></li>
        <li data-option-value=".development" class=""><a href="#">Development</a></li>
        <li data-option-value=".photography" class=""><a href="#">Photography</a></li>
        <li data-option-value=".design" class=""><a href="#">Design</a></li>
    </ul>


    <div class="row">

        <ul class="sort-destination isotope lightbox fadeIn" data-sort-id="isotope-list" data-plugin-options="{&quot;delegate&quot;: &quot;a&quot;, &quot;gallery&quot;: {&quot;enabled&quot;: true}}" style="position: relative; overflow: hidden; height: 3856px;">

            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 0px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/scouter-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 320px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 2 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/black-kitty-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/black-kitty-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 640px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/merchant2-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/merchant2-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 962px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 4 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/flippin-the-bird1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1284px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 5 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/night_to_remember1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/night_to_remember1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1606px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 6 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/spacebound-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/spacebound-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 1928px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 7 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/be-my-guest1-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/be-my-guest1-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2248px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 8 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/black-box5-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/black-box5-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 development" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2570px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/weather-app-600x403">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/weather-app-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 2892px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 2 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/theMoose-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/theMoose-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 design" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 3214px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/tumblr_mopqj9QUeq1st5lhmo1_12801-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

            <li class="isotope-item col-sm-6 col-md-3 photography" style="position: absolute; left: 0px; top: 0px; transform: translate3d(0px, 3536px, 0px) scale3d(1, 1, 1); opacity: 1;">
                <!-- item 4 -->
                <div class="item-box">
                    <figure>
                        <a class="item-hover" href="~/assets/images/demo/portfolio/scouter-600x403.jpg">
                            <span class="overlay color2"></span>
                            <span class="inner">
                                <span class="block fa fa-plus fsize20"></span>
                                <strong>VIEW</strong> IMAGE
                            </span>
                        </a>
                        <img class="img-responsive" src="~/assets/images/demo/portfolio/scouter-600x403.jpg" width="260" height="260" alt="">
                    </figure>
                </div>
            </li>

        </ul>

    </div><!-- /.masonry-container -->
    <!-- CALLOUT -->
    <div class="bs-callout text-center nomargin-bottom">
        <h3>Нравится качество наших работ? <a href="/Home/KnowPrice" target="_blank" class="btn btn-primary btn-lg">Да, хочу сделать заказ!</a></h3>
    </div>
    <!-- /CALLOUT -->


</section>