@using HtmlExtensions.Renderers
@using Extensions.String
@{
    Layout = null;
    HtmlSignsRenderer HtmlSigns = new HtmlSignsRenderer();

    string firstPrice = $"от 50{HtmlSigns.Rouble}";
    string secondPrice = $"от 200{HtmlSigns.Rouble}";
    string thirdPrice = $"от 500{HtmlSigns.Rouble}";
}

<section id="pricing" class="padding100 special-row">
    <div class="container">

        <h1 class="text-center">RUNTASKER <strong>@*Pricing*@Наши цены</strong></h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>


        <p class="lead">
            Здесь вы можете ознакомиться с ценами
        </p>

        <!--
            BOOTSTRAP GRID
            4 columns: col-md-3
            3 columns: col-md-4
            2 columns: col-md-2

            For more info about bootstrap grid
            http://getbootstrap.com/css/#grid
        -->


        <!-- FOUR COLUMNS -->
        <div class="row pricetable-container">

            <div class="col-md-4 price-table">
                <h3>Обычное задание</h3>
                <p>
                    @firstPrice.ToHtml()
                    <span>за одно задание</span>
                </p>

                <ul>
                    <li>Возможность оплатить бонусными деньгами</li>
                    <li>Возможность обсудить работу напрямую с исполнителем</li>
                    <li>Бесплатные доработки</li>
                    <li>Unlimited Subdomains</li>
                    <li>10 Databases</li>
                    <li>Гарантия возврата средств при неудаче исполнителя</li>
                </ul>
                <a href="#" class="btn btn-primary btn-sm">
                    Узнать цену моей работы
                </a>
            </div>

            <div class="col-md-4 price-table popular">
                <h3>Эссе/Реферат</h3>
                <p>
                    @secondPrice.ToHtml()
                    <span>Per month</span>
                </p>
                <ul>
                    <li>Возможность оплатить бонусными деньгами</li>
                    <li>Возможность обсудить работу напрямую с исполнителем</li>
                    <li>Бесплатные доработки</li>
                    <li>Бесплатное повышение уникальности текста</li>
                    <li>10 Databases</li>
                    <li>Гарантия возврата средств при неудаче исполнителя</li>
                </ul>
                <a href="#" class="btn btn-default btn-sm">
                    Узнать цену моей работы
                </a>
            </div>

            <div class="col-md-4 price-table">
                <h3>Курсовая работа</h3>
                <p>
                    @thirdPrice.ToHtml()
                    <span>Per month</span>
                </p>
                <ul class="pricetable-items">
                    <li>Возможность оплатить бонусными деньгами</li>
                    <li>Возможность обсудить работу напрямую с исполнителем</li>
                    <li>Бесплатные доработки</li>
                    <li>Бесплатное повышение уникальности текста</li>
                    <li>10 Databases</li>
                    <li>Гарантия возврата средств при неудаче исполнителя</li>
                </ul>
                <a href="#" class="btn btn-primary btn-sm">
                    Узнать цену моей работы
                </a>
            </div>

            

        </div>
        <!-- /FOUR COLUMNS -->

    </div>
</section>