@using Runtasker.LocaleBuilders.Models
@{
    Layout = null;
    LocaleViewModel localeModel = ViewData["localeModel"] as LocaleViewModel;
}

<section id="slider" class="full-screen" data-autoplay="7500" data-mouseover-stop="true">
    <!-- data-autoplay = 'fals'e or miliseconds. Eg.: 5s = '5000' ; data-mouseover = stop on mouseover. 'true' or 'false')

    <!-- slider navigation -->
    <nav class="slides-navigation">
        <a class="prev" href="#"></a>
        <a class="next" href="#"></a>
    </nav>

    <ul class="slides-container">

        <!-- Item 1 -->
        <li>
            <div class="image-caption">
                <div class="inner text-left">

                    <div class="block text-center" style="margin-top:95%">
                        <h3>@localeModel["MainHeader"]</h3>
                    </div>

                    <div class="block text-right">
                        <p class="dark">@localeModel["ForMainHeader"]</p>
                    </div>

                </div>
            </div>

            <!--<span class="overlay"></span>-->
            @*<div style="background-image: url('~/assets/images/demo/parallax_bg.jpg');" class="fullscreen-img"></div>*@
            <div style="background-image: url('/File/GetFileFromAssets?path=images/demo/RuntaskerParallax/наполнитель.jpg');" class="fullscreen-img"></div>
        </li>

        <!-- Item 2 -->
        <li>
            <div class="image-caption" style="margin-top:2%">
                <div class="inner text-center">
                    <!-- text center , text-left or text-right -->
                    @*<div class="block">
                        <h1>RESPONSIVE</h1>
                    </div>*@
                    <div class="block">
                        
                        <h2>@localeModel["Slogan"]</h2>
                    </div>

                </div>
            </div>

            <!--<span class="overlay"></span>-->
            @*<div style="background-image: url('~/assets/images/demo/parallax_bg.jpg');" class="fullscreen-img"></div>*@
            <div style="background-image: url('/File/GetFileFromAssets?path=images/demo/RuntaskerParallax/diverse_graduates.jpg');" class="fullscreen-img"></div>
        </li>

        
    </ul>

</section>