
@{
    Layout = null;
}

<section id="team" class="padding100">
    <div class="container">

        <h1 class="text-center">Atropos crazy <strong>Team</strong></h1>
        <div class="divider">
            <!-- divider -->
            <i class="fa fa-star"></i>
        </div>


        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>

        <div class="row">

            <div class="col-md-3">
                <!-- item 3 -->
                <div class="item-box">
                    <figure>
                        <img class="img-responsive" src="~/assets/images/demo/people/fixed-height/3.jpg" width="263" height="263" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>John Doe</h4>
                        <small class="styleColor">Главный Агент поддержки</small>
                        
                    </div>
                </div>
            </div>


            <div class="col-md-3">
                <!-- item 5 -->
                <div class="item-box">
                    <figure>
                        <img class="img-responsive" src="~/assets/images/demo/people/fixed-height/5.jpg" width="263" height="263" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>John Doe</h4>
                        <small class="styleColor">CEO</small>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3 marketing">
                <!-- item 7 -->
                <div class="item-box">
                    <figure>
                        <img class="img-responsive" src="~/assets/images/demo/people/fixed-height/7.jpg" width="263" height="263" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>Человек1</h4>
                        <small class="styleColor">Главный разработчик</small>
                        
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <!-- item 8 -->
                <div class="item-box">
                    <figure>
                        <img class="img-responsive" src="~/assets/images/demo/people/fixed-height/8.jpg" width="263" height="263" alt="">
                    </figure>
                    <div class="item-box-desc">
                        <h4>Человек2</h4>
                        <small class="styleColor">Главный разработчик</small>
                        @*<div class="text-center">
                            <a href="#" class="social fa fa-facebook"></a>
                            <a href="#" class="social fa fa-twitter"></a>
                            <a href="#" class="social fa fa-google-plus"></a>
                            <a href="#" class="social fa fa-vk"></a>
                        </div>*@
                    </div>
                </div>
            </div>

        </div>

    </div>
</section>