
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_NewAdminLayout.cshtml";
}

<h2>Методы востановления данных</h2>

<p>
    <a href="@Url.Action("GetData","RestoreData")"></a>
</p>

<p>
    <a href="@Url.Action("AddData","RestoreData")"></a>
</p>

