@helper GetLogoLink()
{
    <a class="logo" href="/Home/Index">
        <span class="glyphicon glyphicon-education"></span>RUNTASKER
    </a>
}

@helper GetLogoLinkWithImage(int pixels)
{
    <a class="logo" href="/Home/Index">
        <img height="@pixels" width="@pixels" src="~/assets/logo/logo.png"/>RUNTASKER
    </a>
}

@helper GetLogo()
{
    <span class="glyphicon glyphicon-education hidden-xs"></span>
}

@helper GetLogoWithImage(int pixels)
{
    <img height="@pixels" width="@pixels" class="hidden-xs" src="~/assets/logo/logo.png" />
}

