@helper GetLogo()
{
    <a class="logo" href="/Home/Index">
        <span class="glyphicon glyphicon-education"></span>RUNTASKER
    </a>
}

@helper GetLogoWithImage()
{
    <a class="logo" href="/Home/Index">
        <img height="30" width="30" src="~/assets/logo/logo.png"/>RUNTASKER
    </a>
}